In [1]:
import os
import common

# Assign notebook and folder names
notebook_name = '04_dropout_widget'
figure_folder = os.path.join(common.FIGURE_FOLDER, notebook_name)
data_folder = os.path.join(common.DATA_FOLDER, notebook_name)

# Make the folders
! mkdir -p $figure_folder
! mkdir -p $data_folder

In [6]:
%load_ext autoreload
%autoreload 2

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
# %matplotlib inline

In [2]:
import macosko2015

In [ ]:
expression = pd.read_csv('')

In [3]:
expression, cell_metadata, gene_metadata = macosko2015.load_big_clusters()
print(expression.shape)
expression.head()

(300, 259)

,2010107E04RIK,4930447C04RIK,A930011O12RIK,ABCA8A,ABLIM1,ACSL3,AIPL1,ALDOC,ANK3,APLP2,...,VEGFA,VIM,VSTM2B,VSX1,VSX2,WIPI1,YWHAB,ZBTB20,ZFP365,ZFP36L1
r1_TTCCTGCTAGGC,2,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
r1_TGGAGATACTCT,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
r1_CGTCTACATCCG,2,0,0,0,0,0,2,0,0,1,...,0,0,0,0,0,0,0,0,0,0
r1_CAAGCTTGGCGC,0,0,11,0,1,0,6,0,0,2,...,0,0,0,0,0,0,0,0,1,0
r1_ACTCACATAGAG,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,2,0,0

In [4]:
print(cell_metadata.shape)
cell_metadata.head()

(300, 2)

                 cluster_id cluster_name
r1_TTCCTGCTAGGC  cluster_24         Rods
r1_TGGAGATACTCT  cluster_24         Rods
r1_CGTCTACATCCG  cluster_24         Rods
r1_CAAGCTTGGCGC  cluster_24         Rods
r1_ACTCACATAGAG  cluster_24         Rods

In [5]:
print(gene_metadata.shape)
gene_metadata.head()

(259, 6)

,cluster_24,cluster_25,cluster_26,cluster_27,cluster_33,cluster_34
2010107E04RIK,False,False,True,False,False,False
4930447C04RIK,False,True,False,False,False,False
A930011O12RIK,False,False,False,False,False,True
ABCA8A,False,False,False,False,False,True
ABLIM1,False,False,True,False,False,False

In [7]:
# %matplotlib notebook

In [8]:
import itertools

In [9]:
# cluster_name_to_ids = {'Horizontal cells': 1, 'Retinal ganglion cells': 2,
#                        'Amacrine cells': range(3, 24), "Rods": 24,
#                        'Cones': 25, 'Bipolar cells': range(26, 34),
#                        'Muller glia': 34, 'Astrocytes': 35,
#                        'Fibroblasts': 36, 'Vascular endothelium': 37,
#                        'Pericytes': 38, 'Microglia': 39}

# [zip(itertools.repeat(name), i) 
#  for name, i in cluster_name_to_ids.items()]

In [10]:
# input_folder = os.path.join(common.DATA_FOLDER, '002_robust_pca')

# csv = os.path.join(input_folder, 'lowrank.csv')

# lowrank = pd.read_csv(csv, index_col=0)
# print(lowrank.shape)
# lowrank.head()

## Assign colors based on clusters

In [11]:
cluster_ids = np.unique(ds.cell_metadata.sel(cell_feature='cluster_id'))
cluster_ids

NameError: name 'ds' is not defined

In [ ]:
cluster_n_to_name = {24: 'Rods', 25: 'Cones', 
                      26: 'Bipolar cells (group1)', 
                      27: 'Bipolar cells (group2)', 
                      33: 'Bipolar cells (group3)', 
                      34: 'Muller glia'}
cluster_id_to_name = dict(('cluster_{}'.format(str(i).zfill(2)), name) 
                          for i, name in cluster_n_to_name.items())
cluster_id_to_name

In [ ]:
import matplotlib as mpl

In [ ]:
ds.expression.indexes['cell']

In [ ]:
colors = sns.color_palette(palette='Set2', n_colors=len(cluster_ids))
# print(colors)
id_to_color = dict(zip(cluster_ids, map(mpl.colors.rgb2hex, colors)))
id_to_color

In [ ]:
ds.cell_metadata['cell_feature']

In [ ]:
cluster_names_to_color = dict((cluster_id_to_name[i], id_to_color[i]) for i in cluster_ids)
cluster_names_to_color

## Remove some genes

In [ ]:
dropmask = np.random.randn(*ds.expression.shape) > -1
dropmask.shape

In [ ]:
dropped = pd.DataFrame(ds.expression.values * dropmask)
print(dropped.shape)
dropped.head()
# dropped

In [ ]:
common.clustermap(dropped.T.corr(method='spearman'), col_colors=color_labels)

In [ ]:
plt.show()

In [ ]:
from ipywidgets import interact

from ipywidgets import IntRangeSlider


# table1_t = table1.T
# lowrank_t = lowrank.T

from ipywidgets  import IntSlider

expression = ds.expression.to_pandas()
print(expression.shape)
expression.head()

In [ ]:
cluster_ids_in_data = ds.cell_metadata.sel(cell_feature='cluster_id').values
# cluster_ids_in_data

In [ ]:
color_labels = [id_to_color[i] for i in cluster_ids_in_data]
color_labels[:4]

In [12]:
def plot_dropout(percent_gene_dropout=50,
                 correlation='pearson', linkage_method='ward',
                 distance_metric='euclidean', #dataset='original'
                ):
#     if dataset == 'original':
#         data = expression
#     elif dataset == 'low-rank':
#         data = lowrank_t
    
    
    title = '{}%, {}, {}, {}'.format(percent_gene_dropout, 
                                         correlation, linkage_method, 
                                         distance_metric, )
    
    threshold = percent_gene_dropout / 100.
    print('threshold', threshold)
    mask = np.random.uniform(size=expression.shape) > threshold
    print(mask.shape)
    data = expression * mask
    print(data.head())
    g = common.clustermap(data.corr(method=correlation), 
                         col_colors=color_labels, 
                         row_colors=color_labels, 
                         metric=distance_metric, 
                          method=linkage_method, 
                          figsize=(4, 4))
    g.fig.suptitle(title)
    plt.show()


def plot_dropout_interactive():
    interact(plot_dropout, 
         percent_gene_dropout=IntSlider(value=0, min=0, max=100, step=10), 
         correlation=['pearson', 'spearman'], 
         linkage_method=['ward', 'average', 'single', "complete"],
         distance_metric=['euclidean', "cityblock"], 
#          dataset=['original', 'low-rank']
            )

plot_dropout_interactive()

NameError: name 'interact' is not defined

In [ ]:
warnings.onceregistry

In [ ]:
common.clustermap(table1.T.corr(method='spearman'), col_colors=color_labels)

## Add Robust PCA implementations to path

In [ ]:
import sys

sys.path.extend(['/Users/olgabot/code/robust-pca/', '/Users/olgabot/code/rpcaADMM/'])

import r_pca
import rpcaADMM

In [ ]:
%%time
rpca_alm = r_pca.R_pca(dropped.as_matrix(), lmbda=0.1)
rpca_alm.fit()

In [ ]:
rpca_alm.lmbda

In [ ]:
sns.heatmap(dropped)

In [ ]:
sns.heatmap(rpca_alm.L)

In [ ]:
sns.heatmap(rpca_alm.S)

In [ ]:
L = pd.DataFrame(rpca_alm.L, index=dropped.index, columns=dropped.columns)
print(L.shape)
L.head()

In [ ]:
common.clustermap(L.T.corr(method='spearman'), col_colors=color_labels)